{% extends 'posts/base.html'%}

{% block content %}
	<h1>Создать новую категорию</h1>
	<form action="" method="GET">{% csrf_token %}
		<div class="input-group">
		    <label></label>
	  		<input name="category_title" type="text" class="form-control" placeholder="Категория" style="margin-top:10px;">
	  		<input name="category_slug" type="text" class="form-control" placeholder="Slug" style="margin-top:10px;">
	  		<p><button type="submit" class="btn btn-primary" style="margin-top:10px;">Херач</button></p>
		</div>
	</form>
{% endblock %}