{% extends 'posts/base.html'%}

{% block content %}
	<h1>Manga list</h1>
	{% for i in news %}
		<h2><a href="{% url 'post_detail' i.id %}">{{ i.title }}</a></h2>
		<p><small>{{ i.author }}</small></p>
		<p><img src="{{i.image.url}}" width="50%"></p>
		<p>{{ i.category.title }} | {{ i.category.slug}}</p>
		<p>{{ i.created_at }} | {{ i.updated_at }}</p>
		<a href="{% url 'likes' i.id %}" class="btn btn-primary">{{i.likes}} <span class="fa fa-thumbs-o-up"></span></a>
		<a href="{% url 'dislikes' i.id %}" class="btn btn-danger">{{i.dislikes}} <span class="fa fa-thumbs-o-down"></span></a>
	{% endfor %}
{% endblock %}