{% extends 'posts/base.html'%}

{% block content %}
	<h1>Manga list</h1>
	
		<h2><a href="">{{ post.title }}</a></h2>
		<p><small>{{ post.author }}</small></p>
		<p>{{ post.category.title }} | {{ post.category.slug}}</p>
		<p>{{ post.created_at }} | {{ post.updated_at }}</p>
		
		<p><img src="{{post.image.url}}" width="80%"></p>
		<p>{{ post.text }}</p>
	
	<div class="jumbotron">

		{% for j in comments %}
			<p>Комментарий от : {{ j.author }}</p>
			<p><small>{{ j.text }}</small></p>
			<hr>
		{% endfor %}
	</div>
{% endblock %}